* {
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  justify-content: flex-start;
  background: rgb(255, 195, 195)
}

/* can remove this */
.reset-button {
  font-size: 1em;
}


.timer-count {
 text-align: right; 
 font-size: 1em;
 font-weight: bold;
}

.highscores {
  text-align: left;
}


button {
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

header {
  text-align: center;
  background: rgb(246, 246, 246);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.results {
  width: 30vw;
  height: 400px;
}

.questions {
  line-height: 150px;
  font-size: 2.5em;
  text-align: center;
}

.options {
  font-size: 1em;
  line-height: 50px;
  text-align:center;
  flex-direction: column;
  display: block;
}

.outcome {
font-size:1em;
margin-top: 10px;
}


@media screen and (max-width: 598px) {
  main {
    flex-direction: column;
  }

}
